/**********************
kitchen panel
**********************/

#spk1 {
	background-image: url('../images/kitchenpic2.jpg');	
}

#spk2 {
	background-image: url('../images/kitchenpic3.jpg');	
}

#spk3 {
	background-image: url('../images/kitchenpic4.jpg');	
}

#spk4 {
	background-image: url('../images/kitchenpic5.jpeg');	
}

#spk5 {
	background-image: url('../images/kitchenpic6.jpeg');	
}

#spk6 {
	background-image: url('../images/kitchenpic7.jpeg');	
}

#spk7 {
	background-image: url('../images/kitchenpic8.jpeg');	
}

#spk8 {
	background-image: url('../images/kitchenpic9.jpeg');	
}

#spk9 {
	background-image: url('../images/kitchenpic10.jpeg');	
}

/********************
bathroom panel
********************/

#spb1 {
	background-image: url('../images/bath1.jpeg');	
}

#spb2 {
	background-image: url('../images/bath2.jpeg');	
}

#spb3 {
	background-image: url('../images/bath3.jpeg');	
}

#spb4 {
	background-image: url('../images/bath4.jpeg');	
}

#spb5 {
	background-image: url('../images/bath5.jpeg');	
}

#spb6 {
	background-image: url('../images/bath6.jpeg');	
}

#spb7 {
	background-image: url('../images/bath7.jpeg');	
}

#spb8 {
	background-image: url('../images/bath8.jpeg');	
}

#spb9 {
	background-image: url('../images/bath9.jpeg');	
}

/***********************
deck panel
***********************/

#spd1 {
	background-image: url('../images/deck1.jpeg');	
}

#spd2 {
	background-image: url('../images/deck2.jpeg');	
}

#spd3 {
	background-image: url('../images/deck3.jpeg');	
}

#spd4 {
	background-image: url('../images/deck4.jpeg');	
}

#spd5 {
	background-image: url('../images/deck5.jpeg');	
}

#spd6 {
	background-image: url('../images/deck6.jpeg');	
}

#spd7 {
	background-image: url('../images/deck7.jpeg');	
}

#spd8 {
	background-image: url('../images/deck8.jpeg');	
}

#spd9 {
	background-image: url('../images/deck9.jpeg');	
}

/***********************
concrete panel
***********************/

#spc1 {
	background-image: url('../images/concrete1.jpeg');	
}

#spc2 {
	background-image: url('../images/concrete2.jpeg');	
}

#spc3 {
	background-image: url('../images/concrete3.jpeg');	
}

#spc4 {
	background-image: url('../images/concrete4.jpeg');	
}

#spc5 {
	background-image: url('../images/concrete5.jpeg');	
}

#spc6 {
	background-image: url('../images/concrete6.jpeg');	
}

#spc7 {
	background-image: url('../images/concrete7.jpeg');	
}

#spc8 {
	background-image: url('../images/concrete8.jpeg');	
}

#spc9 {
	background-image: url('../images/concrete9.jpeg');	
}

/***********************
accessibility panel
***********************/

#spa1 {
	background-image: url('../images/disable1.jpeg');	
}

#spa2 {
	background-image: url('../images/disable2.jpeg');	
}

#spa3 {
	background-image: url('../images/disable3.jpeg');	
}

#spa4 {
	background-image: url('../images/disable4.jpeg');	
}

#spa5 {
	background-image: url('../images/disable5.jpeg');	
}

#spa6 {
	background-image: url('../images/disable6.jpeg');	
}

#spa7 {
	background-image: url('../images/disable7.jpeg');	
}

#spa8 {
	background-image: url('../images/disable8.jpeg');	
}

#spa9 {
	background-image: url('../images/disable9.jpeg');	
}

